.nav-area{
    position: fixed;
    left: 40%;
    top: 4%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: sticky;
    top: 0;
}
.icon-logo{
    display: inline-flex;
    align-items: center;
    color:rgba(7, 7, 7, 0.78);
    padding-left: 25px;
}
.logo-image{
    color: rgba(68, 243, 36, 0.57);
    height: 50px;
    margin-bottom: 5px;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem; 
}
.nav-area span{
   margin: 2px 15px;
   color:rgba(7, 7, 7, 0.78);
   font-size: 1rem;
   font-weight: 500;
   width: fit-content;
}
.active{
    text-decoration: 2.4px underline rgb(40, 77, 40);
}

.info-area {
     display: inline-flex;
    fill:rgba(7, 7, 7, 0.78);
}
.product-info-icon{
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.product-info-icon input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.basket-icon{
    position: relative;
}
.cursor:hover{
 cursor: pointer;
}
.basket-length{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15%;
    left: 30%;
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
    border-radius: 50%;
    color: white;
    background-color: black;
    visibility: hidden;
}
